<div class="container">
  <h2>Messages</h2>

  <%= render partial: "layouts/league_nav", locals: {active: 4, league: @league, league_membership: @league_membership} %>
  
<br />
  <a href="<%=new_league_message_url(@league)%>">Create a new message</a>
  <br />
  <hr>
  <table class="message-list table">
    
    <thead>
      <tr>
        <th>Subject</th>
        <th>Author</th>
        <th>Date</th>
        <th>Replies</th>
      </tr>
    </thead>
    
    <tbody>
      <%@messages.each do |message|%>
      <tr>
        <td><a href="<%= league_message_url(:league_id => @league.slug, :id => message.id) %>"><%=message.subject%></a></td>
        <td><%=message.sender_name%></td>
        <td><%= message.created_at.to_s(:pretty) %></td>
        <td><%= message.replies.count %>
        <%end%>
      </tr>
    </tbody>
  </table>

  
</div>