<div class="container">
  <h2>Messages</h2>

  <div class="row">
 
    <ul class="nav nav-tabs league-nav">
      <li><a href="<%=league_url(@league)%>">Overview</a></li>
      <li><a href=<%=league_url(@league) + "/league_memberships/#{@league_membership.id}/edit"%>>My Roster</a></li>
      <li><a href="<%=league_messages_url(@league.slug)%>" class="active">Messages</a></li>
      <li><a href="<%=league_bylaws_url%>">Bylaws</a></li>
    </ul>
 
  </div>

<h4><%= @message.subject %></h4>
<%= @message.body.html_safe %>
<br />

<ul>
<%@message.replies.each do |reply|%>
<li>
  <%= reply.body %> <p><%= reply.sender_name %> on <%= reply.created_at.to_s(:pretty) %>
  </li>
<%end%>
</ul>

<h4> Leave a reply </h4>

<form id="note-add-form">
  <div id="toolbar" style="display: none;">
    <a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
    <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
    <a data-wysihtml5-command="underline" title="CTRL-U">underline</a> |
    <a data-wysihtml5-command="createLink">insert link</a> |
    <a data-wysihtml5-command="insertImage">insert image</a> |
    <a data-wysihtml5-command="insertUnorderedList">insertUnorderedList</a> |
    <a data-wysihtml5-command="insertOrderedList">insertOrderedList</a> |
    <a data-wysihtml5-command="undo">undo</a> |
    <a data-wysihtml5-command="redo">redo</a>
    
    <div data-wysihtml5-dialog="createLink" style="display: none;">
      <label>
        Link:
        <input data-wysihtml5-dialog-field="href" value="http://">
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
    
    <div data-wysihtml5-dialog="insertImage" style="display: none;">
      <label>
        Image:
        <input data-wysihtml5-dialog-field="src" value="http://">
      </label>
      <label>
        Align:
        <select data-wysihtml5-dialog-field="className">
          <option value="">default</option>
          <option value="wysiwyg-float-left">left</option>
          <option value="wysiwyg-float-right">right</option>
        </select>
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
    
  </div>
  <textarea id="create-note-textarea" placeholder="Begin reply..."></textarea>
<br />
  <button class="create-note">Submit Reply</button>
</form>

<script>
  var editor = new wysihtml5.Editor("create-note-textarea", {
    toolbar:        "toolbar",
    parserRules:    wysihtml5ParserRules
  });
</script>


  

<%= link_to "Back to Messages", league_messages_url(@league.slug) %>
</div>