<div class="container">
  <div class="row">
    <h2 class="col-md-6"><%=@league.name%></h2>

    <h4 class="col-md-6 hidden league-id"><%= @league.id %></h4>
  </div>      
  <div class="document">
    
    <div class="form-group">
      <h3>League Member</h3>
      <select class="lm-selector form-control">
        <% @league.league_memberships.each do |member| %>
        <option data-id="<%= member.id %>"><%= member.name %></option>
        <% end %>
      </select>
      <br />
      <h3>Season Points: <span id="season-points"></span></h3>
      <div class="horizontal-form">
      <input type="text" name="league_membership[score]" value="<%= @league.league_memberships.first.season_points %>" id="" class="form-control admin-season-points-box">
          <button class="btn btn-default admin-submit-score">Submit</button>
      </div>
      
      
      <h3>Roster</h3>
      <ul class="list-group lm-list">
        <% @league.league_memberships.first.players.each do |player|%>
        <li data-id="<%= player.id %>" class="list-group-item">
          <img src="<%=player.picture_url%>" width=40>
          <%= player.name %>
          
          <button class="btn btn-sm btn-danger pull-right delete-roster-membership" style="margin-top:10px;" data-id="<%= player.id %>">
            Drop
          </button>
        </li>
        <%end%>
      </ul>
      
      <h3>Add Player</h3>
      <div class="form-group">
        <input type="hidden" name="league_id" value="<%= @league.id %>" id="league-id">
        <div class="col-sm-10">
          <select class="form-control" id="free-agent-select-list" name="player_id">
            <option value="" disabled selected>Choose a free agent</option>
            <%@available_players.each do |player|%>
            <option value="<%=player.id%>"><%=player.name%></option>
            <%end%>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-2">
          <button class="btn btn-default" id='free-agent-add-button' type="button" style="margin-top:-8px;">Add</button>
        </div>
      </div>
        
    </div>
  </div>    
</div>


<script>
  var leagueMembershipId = $(".lm-selector").find(":selected").data("id");
  var leagueId = $(".league-id").text();

  $.ajax({
    type: "GET",
          url:"/leagues/"+leagueId+"/league_memberships/"+leagueMembershipId+"/season_points",
    success: function(resp){
      $(".admin-season-points-box").val(parseFloat(resp))
    }
  })
</script>