<div class="container">
  <div class="row">
    <h2 class="col-md-6"><%=@league.name%></h2>
  </div> 
  
    <%= render partial: "layouts/league_nav", locals: {active: 7, league: @league, league_membership: @league_membership} %>

    <span class="hidden league-id"><%= @league.id %></span>
  
      
  <div class="document">

    <h3><%= link_to "Edit Player List", players_url %></h3>


    <div class="form-group">
      <h3>League Member</h3>
      <select class="lm-selector form-control">
        <% @league.league_memberships.each do |member| %>
        <option data-id="<%= member.id %>"><%= member.name %></option>
        <% end %>
      </select>
      <br />
      <h3>Season Points: <span id="lm-points"><%=@league.league_memberships.first.season_points%></span></h3>
      
      
      <h3>Roster</h3>
      <ul class="list-group lm-list">
        <% @league.league_memberships.first.players.each do |player|%>
        <li data-id="<%= player.id %>" class="list-group-item">
          <img src="<%=player.picture_url%>" width=40>
          <%= player.name %>
          
          <button class="btn btn-sm btn-danger pull-right delete-roster-membership" style="margin-top:10px;" data-id="<%= player.id %>">
            Drop
          </button>
        </li>
        <%end%>
      </ul>
      <br />
      <h3>Add Player</h3>
      <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" id="free-agent-select-list" name="player_id">
            <option value="" disabled selected>Choose a free agent</option>
            <% @available_players.each do |player| %>
            <option value="<%=player.id%>"><%=player.name%></option>
            <%end%>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group">
        <div class="col-sm-2">
          <button class="btn btn-default" id='admin-player-add-button' type="button" style="margin-top:-8px;">Add</button>
        </div>
      </div>

      <br /><br />
      <h3>Update League Member Scores</h3>
      <div id="score-table">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="col-sm-4">Tournament</th>
              <th class="col-sm-4">Points</th>
            </tr>
          </thead>
          

          <% JSON.parse(@league.league_memberships.first.season_scores).each do |t| %>
            <tr class="tournament-entry">
              <td class="name"><%= t[0][0] %></td>
              <td><input type="text" class="form-control score" value="<%=t[1].to_s%>"></td>
            </tr>
          <% end %>
        </table>
      </div>  
      <div class="col-md-offset-5"><button class="btn btn-standard" id="submit-tournament-standings">Submit</button>
    </div>
  </div>    
</div>