<div class="container">
  <div class="row">
    <h2 class="col-md-6"><%=@league.name%></h2>
  </div>
  
  
  <ul class="nav nav-tabs league-nav">
    <li class="active"><a href="#">Overview</a></li>
    <li><a href=<%=league_url(@league) + "/users/#{current_user.id}/edit"%>>My Roster</a></li>
    <li><a href="<%=league_messages_url(@league)%>">Messages</a></li>
    <li><a href="<%=league_bylaws_url(@league)%>">Bylaws</a></li>
  </ul>
  
  
  <div class="row league_standings">
    <%@divisions.each do |division|%>
    <h3><%=division.name%></h3>
    <table class="table table-condensed">
      
      <thead>
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Season Points</th>
        </tr>
      </thead>
      <%division.members.each_with_index do |member, index|%>
      <tr>
        <td><%=index+1%>
          <td><%=member.name%></td>
          <td><%=member.season_points%></td>
        </tr>
        <%end%>
      </table>
      <%end%>
    </div>
  </div>
</div>
