<div class="container">
  <h2>Set your roster</h2>

  <div class="row">
 
    <ul class="nav nav-tabs league-nav">
      <li><a href="<%=league_url(@league_id)%>">Overview</a></li>
      <li class="active"><a href="#">My Roster</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
 
 
    <div class="col-md-5 col-offset-1">
      <h4>Active</h4>
      <ul class="list-group">
        <div class="column active">
          <%@active_players.each do |roster_membership, player|%>
          <div class="portlet" data-id="<%=roster_membership.id%>">
            <li class="list-group-item">
              <div class="portlet-header">
                <img src="<%=player.picture_url%>" width=40>
                <a href="<%=player.url%>"><%=player.name%></a>
              </div>
            </li>
          </div>
          <%end%> 
        </div>
      </ul>
    </div>
    <div class="col-md-5">
      <h4>Bench</h4>
      <ul class="list-group">
        <div class="column bench">
          <%@bench_players.each do |roster_membership, player|%>
          <div class="portlet" data-id="<%=roster_membership.id%>">
            <li class="list-group-item">
              <div class="portlet-header">
                <img src="<%=player.picture_url%>" width=40>
                <a href="<%=player.url%>"><%=player.name%></a>
              </div>
            </li>
          </div>
          <%end%>
        </div>
      </ul>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-lg" id="submit-roster">Submit Roster</button>
    </div>
  </div>
  <div class="row">
  <div class="col-md-4 col-md-offset-4"><h1 class="emphasized-or">OR</h1></div>
</div>
  <h2>Add a free agent:</h2>
  
  <div id="prefetch">
    <input class="typeahead" type="text" placeholder="Player search">
  </div>
</div>