<div class="container">
  <h3>Set your roster</h3>

<div class="row">
 
  <div class="col-md-5 col-offset-1">
    <h4>Active</h4>
    <ul class="list-group">
      <div class="column active">
        <%@active_players.each do |roster_membership, player|%>
        <div class="portlet" data-id="<%=roster_membership.id%>">
          <li class="list-group-item">
            <div class="portlet-header">
              <img src="<%=player.picture_url%>" width=40>
              <a href="<%=player.url%>"><%=player.name%></a>
            </div>
          </li>
        </div>
        <%end%> 
      </div>
    </ul>
  </div>
  <div class="col-md-5">
    <h4>Bench</h4>
    <ul class="list-group">
      <div class="column bench">
        <%@bench_players.each do |roster_membership, player|%>
        <div class="portlet" data-id="<%=roster_membership.id%>">
          <li class="list-group-item">
            <div class="portlet-header">
              <img src="<%=player.picture_url%>" width=40>
              <a href="<%=player.url%>"><%=player.name%></a>
            </div>
          </li>
        </div>
        <%end%>
      </div>
    </ul>
  </div>
  <div class="col-md-4 col-md-offset-4">
  <button type="button" class="btn btn-lg" id="submit-roster">Submit Roster</button>
</div>
