<div class="container">
  
  <%if current_user.sign_in_count == 0%>
  <h2>Welcome <%=@user.name%>.  Take a look around.</h2>
  <%end%>
  
  <h2>Summary for <%=@user.name%></h2>
  <h3>My leagues</h3>
  <table class="table">   
    <tr><th>League</th><th>Standing</th></tr>
    <%@user.leagues.each do |league|%>
    <tr>
      <td><a href="<%=league_url(league)%>"><%=league.name%></a></td>
      <td>
        <%= league.member_standing( LeagueMembership.find_by_user_id_and_league_id(@user, league.id)) %>
      </td>
    </tr>
    <%end%>
  </table>
  <%=link_to "Create a new league", new_league_url%> ||
  <a href="<%=new_league_membership_url%>">Join a league</a>

</div>