<div class="container">
  <h1><%=@tournament.name%></h1>
  <h3><%=@tournament.start_date%> - <%=@tournament.end_date%></h3>

  <table class="table tournament">
    <thead>
      <th>Position</th>
      <th>Name</th>
      <th>Yahoo ID</th>
      <td>Database ID</th>
      <th>Winnings</th>
      <th>To Par</th>
      <th>Fantasy Points</th>
    </thead>
    <tbody>
      <%@tournament.tournament_standings.sort_by{|t| t.winnings}.reverse.each do |player|%>
      <tr>
        <td><%=player.position%></td>
        <td><%=@players[player.player_id]%></td>
        <td><%=player.player_id%></td>
        <td><%=@id_matcher[player.player_id]%></td>
        <%player.winnings.to_s%>
        <td><%="$#{number_with_delimiter(player.winnings, :delimiter => ",")}"%></td>
        <td><%=player.to_par%></td>
        <td><%=player.fantasy_points %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>