<div class="container">
  <h2>Trades</h2>

  <%= render partial: "layouts/league_nav", locals: {active: 6, league: @league, league_membership: @league_membership} %>
    
    
    <h4><%= "Currently there are no pending trades..." if @trades.empty? %></h4>
    
  <div class="trades-list">
    <%@trades.each do |trade|%>
    <% proposer = @league_memberships.select{|lm| lm.id == trade.proposer_id}.first %>
    <% proposee = @league_memberships.select{|lm| lm.id == trade.proposee_id}.first %>
    
    <div class="trade">
      
      <div class="row">
        <div class="col-md-12 <%= "tradeable" if @league_membership == proposee %>" data-id="trade<%= trade.id %>">
        <div class="trade-info">
            
            <%= proposer == @league_membership ? "You" : proposer.name%> 
            proposed a trade with 
            <%= proposee == @league_membership ? "you" : proposee.name%>
            on <%= trade.created_at.to_s(:pretty) %>.
            
            <% if @league_membership == proposee %>
            <span>
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-success trade-button hidden" data-id="<%= trade.id %>">Accept</button>
                <button type="button" class="btn btn-danger trade-button hidden" data-id="<%= trade.id %>">Deny</button>
              </div>
            </span>
            <% end %>
            
            
        <br />
            |<% trade.trade_groups.first.players.each do |player| %>
        
            <a href="<%=player.url%>" data-id="<%=player.id%>"><%=player.name%></a> |
            <% end %>
            FOR
            |<% trade.trade_groups.last.players.each do |player| %>
            <a href="<%=player.url%>" data-id="<%=player.id%>"><%=player.name%></a> |
            <% end %>
        
          </div>

        </div>
      </div>     
    </div>
    <% end %>  
  </div>


</div>