        <div class=row>
          <div class="roster-selection">
            <div class="col-md-5">
              <ul class="list-group">
                <div class="column active">
                  <%@active_players.each do |roster_membership, player|%>
                    <li class="list-group-item">
                        <img src="<%=player.picture_url%>" width=40>
                        <a href="<%=player.url%>" data-id="<%=player.id%>"><%=player.name%></a>
                    </li>
                  <%end%> 
                </div>
              </ul>
            </div>
      
            <div class="col-md-5">
              <ul class="list-group">
                <div class="column bench">
                  <%@bench_players.each do |roster_membership, player|%>
                    <li class="list-group-item">
                        <img src="<%=player.picture_url%>" width=40>
                        <a href="<%=player.url%>"><%=player.name%></a>
                    </li>
                  <%end%>
                </div>
              </ul>
            </div>
          </div>
      </div>