<!DOCTYPE html>
<html>
<head>
  <title>FantasyGolf</title>
  
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render "layouts/nav" %>
  <div class="errors">
    <%if notice%>
    <div class="alert alert-info yellow-alerts"><%= notice %></div>
    <%elsif alert%>
    <div class="alert alert-danger red-alerts"><%= alert %></div>
    <%end%>
  </div>
  <%= yield %>

</body>
</html>
