<!DOCTYPE html>
<html>
<head>
  <title>BushwoodCC</title>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
<link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
</head>

<body>
  <%= render "layouts/nav" %>
  <div class="errors">
    <%if notice%>
    <div class="alert alert-info yellow-alerts">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %></div>
    <%elsif alert%>
    <div class="alert alert-danger red-alerts"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= alert %></div>
    <%end%>
  </div>
  <%= yield %>

</body>
</html>
